body{
  background: #eee;
}
.wrap {
  margin: auto;
  width: 600px;
  font-family: Helvetica;
  padding-top: 20px;
  display: grid;
  grid-template-areas: 'sidebar ... content content';
}
.content{
  grid-area: content;
  width: 445px;
}
.sidebar{
  width: 155px;
  grid-area: sidebar;
}
.link{
  color: #333;
  text-decoration: none;
}
