body{
  background: #eee;
}
.wrap {
  margin: auto;
  width: 450px;
  font-family: Helvetica;
  padding-top: 20px;
}
.content{
  width: 450px;
}
.link{
  padding-right: 10px;
  text-decoration: none;
}
